<div id="console" class="chat pre-scrollable">
    <div class="row" ng-repeat="line in lines">
        <div class="col-xs-2 text-right">
            <strong>{{line.sender}}</strong>
        </div>
        <div class="col-xs-10">
            {{ line.text }}
        </div>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <input id="input" type="text" class="form-control" ng-model="command" ng-enter="execute()" autofocus>

        <div class="input-group-btn">
            <button ng-click="execute()" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>
