<div id="console" class="chat pre-scrollable">
    <div class="row" ng-repeat="line in lines">
        <div class="col-xs-2 text-right">
            <strong>{{line.sender}}</strong>
        </div>
        <div class="col-xs-10">
            {{ line.text }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-11">
        <input id="input" type="text" class="form-control" ng-model="command" ng-enter="execute()" autofocus>
    </div>
    <div class="col-sm-1">
        <button ng-click="execute()" class="btn btn-primary btn-block">Send</button>
    </div>
</div>
