<ol class="breadcrumb">
    <li ng-repeat="segment in breadcrumb track by $index">{{segment}}</li>
    <span class="pull-right">
        <div class="btn btn-default btn-xs file-upload">
            <span>Upload</span>
            <input type="file" class="upload" id="file-btn">
        </div>
        <span ng-if="files_clipboard.mode != 'none'">
            <button style="position: relative; transform: translateY(-2px)" class="btn btn-default btn-xs" ng-click="paste()">Paste</button>
        </span>
    </span>
</ol>

<div class="list-group">
    <a ng-click="move(dir.fullPath)" class="list-group-item"
       ng-repeat="dir in dirs" style="padding: 10px;">
        {{ dir.name }}
        <span class="pull-right" style="position: relative; transform: translateY(-2px)">
            <button class="btn btn-default btn-xs" ng-click="cut(dir); $event.stopPropagation();">Cut</button>
            <button class="btn btn-default btn-xs" ng-click="copy(dir); $event.stopPropagation();">Copy</button>
            <button class="btn btn-default btn-xs" ng-click="delete_(dir); $event.stopPropagation();">Delete</button>
        </span>
    </a>

    <a ng-click="edit(file)" class="list-group-item" style="padding: 10px;" ng-repeat="file in files">
        {{ file.name }}
        <span class="pull-right" style="position: relative; transform: translateY(-2px)">
            <button class="btn btn-default btn-xs" ng-click="edit(file); $event.stopPropagation();">Edit</button>
            <button class="btn btn-default btn-xs" ng-click="cut(file); $event.stopPropagation();">Cut</button>
            <button class="btn btn-default btn-xs" ng-click="copy(file); $event.stopPropagation();">Copy</button>
            <button class="btn btn-default btn-xs" ng-click="delete_(file); $event.stopPropagation();">Delete</button>
        </span>
    </a>
</div>
