<ol class="breadcrumb">
    <li ng-repeat="segment in breadcrumb track by $index">{{segment}}</li>
    <span class="pull-right">
        <button class="btn btn-default btn-xs" ng-click="upload()">Upload File</button>
        <span ng-if="clipboard">
              {{clipboard}}
            <button class="btn btn-default btn-xs" ng-click="paste()">Paste</button>
        </span>
    </span>
</ol>

<div class="list-group">
    <a ng-click="move(dir.fullPath)" class="list-group-item"
       ng-repeat="dir in dirs" style="padding: 10px;">
        {{ dir.name }}
        <span class="pull-right" style="position: relative; transform: translateY(-1px)">
            <button class="btn btn-default btn-xs" ng-click="cut(file)">Cut</button>
            <button class="btn btn-default btn-xs" ng-click="copy(file)">Copy</button>
        </span>
    </a>

    <a ng-click="edit(file)" class="list-group-item" style="padding: 10px;" ng-repeat="file in files">
        {{ file.name }}
        <span class="pull-right" style="position: relative; transform: translateY(-2px)">
            <button class="btn btn-default btn-xs" ng-click="edit(file)">Edit</button>
            <button class="btn btn-default btn-xs" ng-click="cut(file)">Cut</button>
            <button class="btn btn-default btn-xs" ng-click="copy(file)">Copy</button>
        </span>
    </a>
</div>
