<!DOCTYPE html>
<html ng-app="obsidianApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Obsidian</title>

    <link rel="stylesheet" href="//bootswatch.com/paper/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="//cdn.rawgit.com/bitwiseshiftleft/sjcl/master/sjcl.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/mode/loadmode.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/mode/meta.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.min.js"></script>
    <script src="//cdn.rawgit.com/jorgeecardona/ansi-to-html/master/ansi2html.js"></script>
    <script src="//cdn.rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.min.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/ui-codemirror/gh-pages/dist/ui-codemirror.min.js"></script>


    <script src="js/index.js"></script>
    <script src="js/MainCtrl.js"></script>
    <script src="js/IndexCtrl.js"></script>
    <script src="js/LoginCtrl.js"></script>
    <script src="js/ConsoleCtrl.js"></script>
    <script src="js/ChatCtrl.js"></script>
    <script src="js/PlayersCtrl.js"></script>
    <script src="js/PlayerCtrl.js"></script>
    <script src="js/FilesCtrl.js"></script>
    <script src="js/FileEditCtrl.js"></script>
</head>
<body>
<div ng-controller="MainCtrl" style="outline: none; !important">
    <nav class="navbar navbar-default" style="border-radius: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="navigate('/')">Obsidian</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: path == '/'}"><a href="" ng-click="navigate('/')">Server</a></li>
                    <li ng-class="{active: path == '/console'}"><a href="" ng-click="navigate('/console')">Console</a></li>
                    <li ng-class="{active: path == '/chat'}"><a href="" ng-click="navigate('/chat')">Chat</a></li>
                    <li ng-class="{active: path == '/players'}"><a href="" ng-click="navigate('/players')">Players</a></li>
                    <li ng-class="{active: path == '/files/view/'}"><a href="" ng-click="navigate('/files/view/')">Files</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-view></div>
    </div>
</div>
</body>
</html>